//! **************************************************************************
// Written by: Map P.40xd on Mon Nov 25 23:18:25 2013
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "vga_B" LOCATE = SITE "G15" LEVEL 1;
COMP "vga_G" LOCATE = SITE "H15" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "F9" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "D11" LEVEL 1;
COMP "vga_R" LOCATE = SITE "H14" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "C11" LEVEL 1;
COMP "vga_HS" LOCATE = SITE "F15" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "F11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "E11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "F12" LEVEL 1;
COMP "vga_VS" LOCATE = SITE "F14" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk = BEL "counter_31" BEL "counter_30" BEL "counter_29" BEL
        "counter_28" BEL "counter_27" BEL "counter_26" BEL "counter_25" BEL
        "counter_24" BEL "counter_23" BEL "counter_22" BEL "counter_21" BEL
        "counter_20" BEL "counter_19" BEL "counter_18" BEL "counter_17" BEL
        "counter_16" BEL "counter_15" BEL "counter_14" BEL "counter_13" BEL
        "counter_12" BEL "counter_11" BEL "counter_10" BEL "counter_9" BEL
        "counter_8" BEL "counter_7" BEL "counter_6" BEL "counter_5" BEL
        "counter_4" BEL "counter_3" BEL "counter_2" BEL "counter_1" BEL
        "counter_0" BEL "vga1/buffer_0" BEL "vga1/buffer_1" BEL
        "vga1/buffer_2" BEL "vga1/buffer_3" BEL "vga1/buffer_4" BEL
        "vga1/buffer_5" BEL "vga1/buffer_6" BEL "vga1/buffer_7" BEL
        "vga1/buffer_8" BEL "vga1/buffer_9" BEL "vga1/buffer_10" BEL
        "vga1/buffer_11" BEL "vga1/buffer_12" BEL "vga1/buffer_13" BEL
        "vga1/buffer_14" BEL "vga1/buffer_15" BEL "vga1/buffer_16" BEL
        "vga1/buffer_17" BEL "vga1/buffer_18" BEL "vga1/buffer_19" BEL
        "vga1/buffer_20" BEL "vga1/buffer_21" BEL "vga1/buffer_22" BEL
        "vga1/buffer_23" BEL "vga1/buffer_24" BEL "vga1/buffer_25" BEL
        "vga1/buffer_26" BEL "vga1/buffer_27" BEL "vga1/buffer_28" BEL
        "vga1/buffer_29" BEL "vga1/buffer_30" BEL "vga1/buffer_31" BEL
        "vga1/buffer_32" BEL "vga1/buffer_33" BEL "vga1/buffer_34" BEL
        "vga1/buffer_35" BEL "vga1/buffer_36" BEL "vga1/buffer_37" BEL
        "vga1/buffer_38" BEL "vga1/buffer_39" BEL "vga1/buffer_40" BEL
        "vga1/buffer_41" BEL "vga1/buffer_42" BEL "vga1/buffer_43" BEL
        "vga1/buffer_44" BEL "vga1/buffer_45" BEL "vga1/buffer_46" BEL
        "vga1/buffer_47" BEL "vga1/vga_G" BEL "vga1/vga_R" BEL "vga1/vga_B"
        BEL "vga1/vcnt_0" BEL "vga1/vcnt_1" BEL "vga1/vcnt_2" BEL
        "vga1/vcnt_3" BEL "vga1/vcnt_4" BEL "vga1/vcnt_5" BEL "vga1/vcnt_6"
        BEL "vga1/vcnt_7" BEL "vga1/vcnt_8" BEL "vga1/vcnt_9" BEL
        "vga1/hcnt_0" BEL "vga1/hcnt_1" BEL "vga1/hcnt_2" BEL "vga1/hcnt_3"
        BEL "vga1/hcnt_4" BEL "vga1/hcnt_5" BEL "vga1/hcnt_6" BEL
        "vga1/hcnt_7" BEL "vga1/hcnt_8" BEL "vga1/hcnt_9" BEL "vga1/hcnt_10"
        BEL "siggen1/pixels_42" BEL "siggen1/pixels_43" BEL
        "siggen1/pixels_44" BEL "siggen1/pixels_45" BEL "siggen1/pixels_46"
        BEL "siggen1/pixels_47" BEL "vga1/vga_VS" BEL "vga1/vga_HS" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
SCHEMATIC END;

