#  Spartan-3E Starter Board
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<0> LOC=F9  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<1> LOC=E9  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<2> LOC=D11  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<3> LOC=C11  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<4> LOC=F11  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<5> LOC=E11  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<6> LOC=E12  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<7> LOC=F12  |  IOSTANDARD = LVCMOS33;
Net fpga_0_DIP_Switches_4Bit_GPIO_IO_I_pin<0> LOC=N17 | PULLDOWN  |  IOSTANDARD = LVCMOS33;
Net fpga_0_DIP_Switches_4Bit_GPIO_IO_I_pin<1> LOC=H18 | PULLDOWN  |  IOSTANDARD = LVCMOS33;
Net fpga_0_DIP_Switches_4Bit_GPIO_IO_I_pin<2> LOC=L14 | PULLDOWN  |  IOSTANDARD = LVCMOS33;
Net fpga_0_DIP_Switches_4Bit_GPIO_IO_I_pin<3> LOC=L13 | PULLDOWN  |  IOSTANDARD = LVCMOS33;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=c9  |  IOSTANDARD = LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=K17  |  IOSTANDARD = LVCMOS33  |  PULLDOWN;

# VGA ports
Net tetris_vga_0_VGA_Hs_pin	LOC=F15	| IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=8 ;
Net tetris_vga_0_VGA_Vs_pin	LOC=F14	| IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=8 ;
Net tetris_vga_0_VGA_R_pin		LOC=H14	| IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=8 ;
Net tetris_vga_0_VGA_G_pin		LOC=H15	| IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=8 ;
Net tetris_vga_0_VGA_B_pin		LOC=G15	| IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=8 ;

# Control ports
Net click_GPIO_IO_I_pin<3>		LOC=D18	| IOSTANDARD=LVCMOS33 | PULLDOWN;
Net click_GPIO_IO_I_pin<2>		LOC=V4	| IOSTANDARD=LVCMOS33 | PULLDOWN;
Net click_GPIO_IO_I_pin<1>		LOC=H13	| IOSTANDARD=LVCMOS33 | PULLDOWN;
Net click_GPIO_IO_I_pin<0>		LOC=V16	| IOSTANDARD=LVTTL	 | PULLDOWN;
Net encoder_GPIO_IO_I_pin<1>	LOC=K18	| IOSTANDARD=LVTTL	 | PULLUP;
Net encoder_GPIO_IO_I_pin<0>	LOC=G18	| IOSTANDARD=LVTTL	 | PULLUP;
